


    <div class="temperature-controls">
    
       
            <h2> Reactor ID: {{reactorId}}</h2>
            <p> 
                Temperatuur: {{reactorTemperatuur}}

            </p>
            <p>
                Reactor status: {{reactorStatus}}

               

               
            </p>
            <p>
                @if (coolDown) { 
                    <p>Waarschuwing Cooldown!</p>
                    
                }@else {
                     
                    <p></p>
                    
                }

                @if (meltDown) {
                    <p>Waarschuwing Meltdown!</p>
                }@else {
                    <p></p>
                }
            </p>
       

            <p>Powergrid ID: {{reactorPowerGridId}}</p>
            <h2>Control</h2>
            <button (click)="ngOnInit()">Start</button>
            <button (click)="ngOnDestroy()">Stop</button>
            <button (click)="resetButton()">Reset Meltdown</button>

            <h2>Test scenario's</h2>
            <button (click)="startCooldownButton()">Cooldown</button>
            <button (click)="startMeltdownButton()">meltdown</button>
         
    </div>


     <div class="temperature-controls">
        <p>Temperatuur Unit: {{locale}}  </p>
        <button (click)="changeLocale('°C')">Celsius</button>
        <button (click)="changeLocale('°F')">Fahrenheit</button>
        <button (click)="changeLocale('°K')">Kelvin</button>
    </div>

   
   

