

    <div class="temperature-controls">
    
       
            <h2>Reactor ID: {{reactorId}}</h2>
            <p> 
                Temperatuur: {{reactorTemperatuur}}

            </p>
            <p>
                Reactor status: {{reactorStatus}}

                @if (meltDown) {
                    <!-- <p>: meltDown</p> -->
                    
                    <span>&#9789;</span>
                }@else {
                    
                   <!--  <p>: Cooldown</p> -->
                    <span>&#9788;</span>

                }

            </p>
       

            <p>Powergrid ID: {{reactorPowerGridId}}</p>
            <h2>Control</h2>
            <button (click)="ngOnInit()">Start</button>
            <button (click)="ngOnDestroy()">Stop</button>

            <h2>Test scenario's</h2>
            <button (click)="ngOnInit()">Cooldown</button>
            <button (click)="ngOnDestroy()">meltdown</button>
         
    </div>


     <div class="temperature-controls">
        <p>Temperatuur Unit: {{locale}}  </p>
        <button (click)="changeLocale('°C')">Celsius</button>
        <button (click)="changeLocale('°F')">Fahrenheit</button>
        <button (click)="changeLocale('°K')">Kelvin</button>
    </div>

